# Generate plots from power data for different tests

### Imports

In [2]:
import PlotData
import ProcessData
import ImportData

### Specify parameters
PLOT_TYPE = 'grid' or 'separate'
DATA_SOURCE = 'new' or 'old
MODE = 'absolute' or 'relative
PEOPLE_TO_PLOT add names of people to plot to list - empty lists plots all people

In [9]:
DATA_SOURCE = 'old'
MODE = 'relative'
PEOPLE_TO_PLOT = ['Fabi']
PLOT_DIR = 'Plots'
PLOT_TYPE = 'grid'

#### Import raw strength measurements from different tests
Not needed if datasource is 'old'

In [4]:
imported_data = ImportData.read_files()

In [5]:
imported_data.head(5)

,date,tag,comment,unit,max,avg,duration
0,2020-01-08 16:59:00,Alex R 90,73.7,SI,76.10028028488159,60.791628811094505,7
1,2020-01-08 17:00:00,Alex L 90,73.7,SI,72.51570701599121,61.82813474867078,7
2,2020-01-08 17:01:00,Lele R 90,59.1,SI,68.09649562835693,60.02351540989345,7
3,2020-01-08 17:02:00,Lele L 90,59.1,SI,72.11809301376343,63.378993842336875,7
4,2020-01-08 17:03:00,Fabi L 90,67.3,SI,78.8911280632019,67.78806755277844,7

#### Clean data to have a dataframe of tests for every person

In [6]:
processed_data = ProcessData.process_data(imported_data,  PEOPLE_TO_PLOT, DATA_SOURCE, MODE)

In [7]:
processed_data.keys()
processed_data['Fabi']

test              120                    90                Finger             \
hand                L          R          L          R          L          R
date
2020-01-08  76.452342  67.631755  78.891128  76.342616  67.362767  61.843281
2020-05-26  76.452342  67.631755  79.825041  80.244085  68.382841  66.073477
2021-01-23  76.452342  67.631755  89.367355  89.788261  70.457441  72.480995
2023-01-10  90.492904  86.556587  91.436691  94.307991  69.487757  76.905032

test               120          90      Finger
hand              both        both        both
date
2020-01-08  144.084097  155.233744  129.206048
2020-05-26  144.084097  160.069126  134.456317
2021-01-23  144.084097  179.155617  142.938435
2023-01-10  177.049491  185.744682  146.392789

#### Create plots for all specified people

In [8]:
PlotData.plot_data(processed_data, PLOT_TYPE, PLOT_DIR)

plotting Fabi